.qfkeh { 
  margin-bottom: 88px;
  line-height: 46px;
  border-top-width: 37px;
  border-bottom-width: 96px;
  border-bottom-width: 35px;
  line-height: 57px;
  border-bottom-width: 46px;
  margin-top: 84px;
  border-right-width: 59px;
  border-top-width: 84px;
  margin-top: 63px;
  border-right-width: 38px;
  font-size: 44px;
  border-bottom-width: 68px;
  margin-left: 63px;
  padding-left: 83px;
  line-height: 25px;
  padding-top: 53px;
  border-left-width: 95px;
  padding-bottom: 46px;
  margin-left: 19px;
  font-size: 19px;
  border-right-width: 58px;
  margin-right: 55px;
  border-left-width: 41px;
  border-top-width: 51px;
  margin-top: 22px;
  margin-top: 80px;
  border-left-width: 52px;
  border-right-width: 73px;
  border-left-width: 43px;
  margin-bottom: 65px;
  font-size: 77px;
  margin-left: 15px;
}
