.qfkeh { 
  margin-bottom: 88px;
  line-height: 46px;
  border-top-width: 37px;
  border-bottom-width: 96px;
  border-bottom-width: 35px;
  line-height: 57px;
  border-bottom-width: 46px;
  border-left-width: 44px;
}
